#edit_user {
    margin-top: 30px;
}

.forgotlink, .signinbtn {
  margin: 15px;
}

.user_email, .user_password, .user_password_confirmation, .user_current_password {
  margin-left: 15px !important;
}

.registrationbtn {
  margin-left: 15px;
}

.registratiopage p {
  font-size: x-large;
}

.margintop40 {
  margin-top: 40px;
}