// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.span10.offset2 {
  margin: 30px;
}

a {
  margin: 20px;
}

.btn {
  margin: 10px;
}

input {
  max-width: 400px;
}